@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('weather-icons.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.text-fine {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.position-widget-label {
    position: relative;
    top: 15px;    
}



/* Widget CSS from https://codepen.io/takeradi/pen/ONJzEv */

.widget {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    height: 300px;
    width: 600px;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

    .widget .weatherIcon {
        flex: 1 100%;
        height: 60%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background: #FAFAFA;
        font-family: weathericons;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 100px;
    }

        .widget .weatherIcon i {
            padding-top: 30px;
        }

    .widget .weatherInfo {
        flex: 0 0 70%;
        height: 40%;
        background: #080705;
        border-bottom-left-radius: 20px;
        display: flex;
        align-items: center;
        color: white;
    }

        .widget .weatherInfo .temperature {
            flex: 0 0 40%;
            width: 100%;
            font-size: 65px;
            display: flex;
            justify-content: space-around;
        }

        .widget .weatherInfo .description {
            flex: 0 60%;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            justify-content: center;
        }

            .widget .weatherInfo .description .weatherCondition {
                text-transform: uppercase;
                font-size: 25px;
                font-weight: 100;
            }

            .widget .weatherInfo .description .place {
                font-size: 10px;
            }

    .widget .date {
        flex: 0 0 30%;
        height: 40%;
        background: #70C1B3;
        border-bottom-right-radius: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        font-size: 25px;
        font-weight: 800;
    }

p {
    position: fixed;
    bottom: 0%;
    right: 2%;
}

    p a {
        text-decoration: none;
        color: #E4D6A7;
        font-size: 10px;
    }