@page "/weather"
@using WeatherAPI.Data
@using WeatherAPI.Models 
@using System.Text

<h1>Weather forecast</h1>


<article class="widget">
    <div class="weatherIcon"><i class="wi @weatherIconClass"></i></div>
    <div class="weatherInfo">
        <div class="temperature">
        <ul class="list-unstyled list-group">
            <li class="text-fine position-widget-label">High of</li>
            <li>@temp&deg;@tempUnits</li>
        </ul>
            </div>
        <div class="description">
            <div class="weatherCondition">@shortForecast</div>
            <div class="place">Warsaw, New York</div>
        </div>
    </div>
    <div class="date">@dateString</div>
</article>





@code {

    ForecastModel forecast = new ForecastModel();
    ForecastService forecastService = new ForecastService();
    WeatherDefinitions iconClass = new WeatherDefinitions();

    //string isDay = "day";
    string temp = "Loading" ;
    string tempUnits = "Loading";
    string shortForecast = "Loading";
    string weatherIconClass = "";
    string dateString = DateTime.Now.ToString("dd MMM");

    protected override async Task OnInitializedAsync()
    {
        forecast = await forecastService.GetForecastAsync();
        if (forecast != null)
        {
            if(forecast.properties != null)
            {
                if(forecast.properties.periods != null)
                {
                    //if (!(forecast.properties.periods[0].isDaytime))
                    //{
                    //    isDay = "night";
                    //}

                    temp = forecast.properties.periods[0].temperature.ToString();
                    tempUnits = forecast.properties.periods[0].temperatureUnit;
                    shortForecast = forecast.properties.periods[0].shortForecast;

                    if (!(forecast.properties.periods[0].isDaytime))
                    {
                        if (iconClass.NightWeatherDescription.ContainsKey(shortForecast))
                        {
                            weatherIconClass = iconClass.NightWeatherDescription[shortForecast];
                        }
                        else
                        {
                            weatherIconClass = iconClass.NightWeatherDescription["KeyNotFound"];
                        }
                    }
                    else
                    {
                        if (iconClass.DayWeatherDescription.ContainsKey(shortForecast))
                        {
                            weatherIconClass = iconClass.DayWeatherDescription[shortForecast];
                        }
                        else
                        {
                            weatherIconClass = iconClass.DayWeatherDescription["KeyNotFound"];
                        }
                    }


                }
            }
        }
    }
}